@model DashboardViewModel
@{
    var labels = Json.Serialize(Model.DepartmentEmployeeCount.Keys);
    var datas = Json.Serialize(Model.DepartmentEmployeeCount.Values);
}


<h2 class="mb-4">
    Dashboard
</h2>

<div class="row">
    <div class="col-md-3 mb-4">
        <div class="card text-white bg-primary shadow">
            <div class="card-body">
                <h5 class="card-title"> Total Employee </h5>
                <p class="card-text display-4">
                    @Model.TotalEmployee
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-3 mb-4">
        <div class="card text-white bg-primary shadow">
            <div class="card-body">
                <h5 class="card-title"> Total Leave Request </h5>
                <p class="card-text display-4">
                    @Model.TotalLeaveRequest
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-3 mb-4">
        <div class="card text-white bg-primary shadow">
            <div class="card-body">
                <h5 class="card-title"> Total Employee </h5>
                <p class="card-text display-4">
                    @Model.TotalApprovedLeaves
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-3 mb-4">
        <div class="card text-white bg-primary shadow">
            <div class="card-body">
                <h5 class="card-title"> Total Leave Request </h5>
                <p class="card-text display-4">
                    @Model.TotalPendingLeaves
                </p>
            </div>
        </div>

    </div>
</div>

<div class="row">
   
    <div class="col-lg-4">
        <canvas id="myPieChart" width="100"></canvas>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        //department employee pie chart
        const ctx = document.getElementById('myPieChart').getContext('2d');

        const myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: @Html.Raw(labels),
                datasets: [{
                    label: 'Employees by Department',
                    data: @Html.Raw(datas),
                    backgroundColor: [
                        '#FF6384',
                        '#36A2EB',
                        '#FFCE56'
                    ],
                    borderColor: [
                        '#ffffff',
                        '#ffffff',
                        '#ffffff'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    }
                }
            }
        });
       
    </script>
}