@model IEnumerable<HRMS.Domain.Entities.UserRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                    <div class="btn btn-group">

                        <a class="btn btn-sm btn-outline-warning" asp-action="edit" asp-route-id="@item.Id">
                            <i class="fa fa-edit"></i>
                            Edit
                        </a>
                        <a class="btn btn-sm btn-outline-success" asp-action="details" asp-route-id="@item.Id">
                            <i class="fa fa-edit"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-danger" asp-action="delete" asp-route-id="@item.Id">
                            <i class="fa fa-edit"></i>
                            Delete
                        </a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
